main {
	font-family: 'Koulen', sans-serif;
	font-family: 'Lora', serif;
	padding: 0px 20px;
}

.big {
	text-align: center;
	font-family: 'Koulen', sans-serif;
	margin-bottom: 0px;
}

.top {
	margin-top: 0px;
}

#wireframe {
	padding-top: 30px;
}

section {
	font-size: 1.3em;
}

.padding {
	padding-top: 40px;
}

.lesspadding {
	padding-top: 20px;
	margin-bottom: 0px;
}

.tiny {
	max-width: 50rem;
}

#tiny {
	max-width: 30rem;
}

.margin {
	margin-top: 0px;
	margin-bottom: 40px;
}

#moremargin {
	margin-top: 0px;
	margin-bottom: 80px;
}

#play {
	font-family: 'Lora', serif;
	background-color: black;
	color: white;
	padding: 2.5rem 4.5rem;
	border: solid;
	font-size: 2.5em;
	text-decoration: none;
	margin-left: 30rem;
}

#play:hover {
	background-color: white;
	color: black;
}