main {
	font-family: 'Koulen', sans-serif;
	font-family: 'Lora', serif;
	padding: 0px 20px;
}

.big {
	text-align: center;
	font-family: 'Koulen', sans-serif;
}

#wireframe {
	padding-top: 30px;
}

section {
	font-size: 1.3em;
}

.padding {
	padding-top: 40px;
}

.lesspadding {
	padding-top: 20px;
}

#more {
	padding-bottom: 4em;
}

#play {
	font-family: 'Lora', serif;
	background-color: black;
	color: white;
	padding: 2.5rem 4.5rem;
	border: solid;
	font-size: 2.5em;
	text-decoration: none;
	margin-left: 39%;
}

#play:hover {
	background-color: white;
	color: black;
}