header {
	background-color: white;
	padding: 22px 0px;
	font-family: 'Koulen', sans-serif;
}

#title {
	font-weight: bold;
	color: purple;
}

body {
	background-color: rgb(58,12,80);
	font-family: 'Koulen', sans-serif;
	font-family: 'Lora', serif;
}

#domanda1 {
	font-family: 'Koulen', sans-serif;
	padding-top: 75px;
}

#domanda {
	font-family: 'Koulen', sans-serif;
	padding-top: 20px;
}

.quiz {
	color: white;
	text-align: center;
}

#risultati {
	padding: 15px 0px 40px 0px;
	font-size: 25px;
}

#footer {
	background-color: white;
}

.blackfooter {
	font-family: 'Lora', serif;
	color: black;
	text-align: center;
	margin-bottom: 0px;
}

.social {
	padding-left: 43%;
	padding-bottom: 20px;
}

#email {
	text-align: center;
	color: black;
}

#email:hover {
	text-decoration: underline;
	color: purple;
}

.small {
	font-size: 16px;
}

.fixedtop {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#lower {
	padding-top: 5.5em;
}

#play {
	background-color: purple;
	padding: 1rem 3rem;
	border: solid;
	margin-bottom: 30px;
	margin-top: 5px;
}

#play:hover {
	background-color: white;
	color: purple;
}