p {
	font-family: "Lora", serif;
	padding-left: 20px;
	font-size: 1.5em;
	color: white;
}

#home {
	padding-top: 60px;
}

#play {
	background-color: purple;
	padding: 1rem 3rem;
	border: solid;
}

#play:hover {
	background-color: white;
	color: purple;
}

#bottone {
	text-align: center; 
	padding-right: 20px;
	margin-top: 1em;
}

h2 {
	padding: 30px 20px 15px 20px;
	font-family: "Koulen", sans-serif;
	font-size: 3em;
	color: white;
}

h3 {
	font-family: "Koulen", sans-serif;
	padding: 30px 0px 10px 30px;
	font-size: 3em;
	color: white; 
}

h5 {
	color: white;
	padding-left: 20px;
	font-family: 'Koulen', sans-serif;
	font-size: 3em;
}

#categorie { 
	text-align: center;
	padding-right: 20px;
}

body {
	font-family: 'Koulen', sans-serif;
	font-family: 'Lora', serif;
	background-color: rgb(58,12,80);
	scroll-behavior: smooth;
}

nav {
	font-family: 'Koulen', sans-serif;
	color:black;
	text-decoration: none;
}

.fixedtop {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

img {
	max-width: 30%;
	padding-left: 10px;
	border-radius: 100%;
}

.morepadding {
	padding-left: 15px;
	margin-bottom: 10px;
}

.lower { 
	padding-top: 30px;
	color: white;
}

#commenti {
	padding: 0px 0px 20px 20px ;
}

.container-fluid {
	font-size: 1.5rem;
}

.blacklink {
	color: black;
	font-weight: bold;
}

.blacklink:hover {
	color: purple
}

#profili:hover {
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
}

.form-floating {
	padding-bottom: 10px;
}

#footer {
	background-color: white;
}

.blackfooter {
	font-family: 'Lora', serif;
	color: black;
	text-align: center;
}

.social {
	padding-left: 43%;
	padding-bottom: 20px;
}